// Variables
@use "colors";
@use "mixins";
@use "fonts";

$grid-size: 10rem;
$grid-gap: 0.2rem;

// Reset styles
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

// General styling
body {
    font-family: fonts.$ff-primary;

    background-image: url("../img/app__bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

// Main styling start

.app {
    &__inner {
        background: #eee;
        padding: 2rem;
        border-radius: 16px;
        box-shadow: 3px 3px 6px 1px #666;
    }
    &__title {
        font-size: 2.5rem;
        color: colors.$clr-primary;
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 800;
        text-transform: capitalize;
    }
    &__flex {
        width: 100vw;
        height: 85vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 1rem 0;
    }
}

.nav {
    &__item-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        list-style: none;
        font-size: 2.5rem;
        font-weight: 500;
        & a {
            text-decoration: none;
            color: #333;
            transition: 0.3s color ease-in-out;
            &:hover {
                color: darken(colors.$clr-choose-btn, 30%);
            }
        }
    }
    &__item + &__item {
        margin-left: 4rem;
    }
}

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: $grid-size $grid-size $grid-size;
    gap: $grid-gap;

    &__item + &__item {
        margin-top: $grid-gap;
    }
    &__item {
        width: $grid-size;
        height: $grid-size;
        border: 3px solid #555;
        border-radius: 6px;
        cursor: pointer;
    }
    &__img {
        display: block;
        transition: opacity 0.4s ease-out;
        opacity: 0;
        &-show {
            opacity: 1;
        }
    }
}

// Main styling end

// Starting modal styling

.modal-start {
    display: none;
    @include mixins.modal();
    width: 50%;

    &__inner {
        padding: 2rem;
        position: relative;
        overflow: hidden;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__close-btn {
        @include mixins.close-btn;
    }
    &__top {
        margin-top: 3rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: darken(colors.$clr-choose-btn, 30%);
        box-shadow: 1px 1px 35px 1px #bbb;
        border-radius: 6px;
        padding: 2rem;

        font-family: fonts.$ff-primary;
        font-size: 2rem;
        color: #333;
        font-weight: 600;
    }
    .start-btn {
        display: flex;
        margin: 0 auto;
        padding: 1rem 2rem;
        font-family: fonts.$ff-primary;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 500;
        border: none;
        background-color: colors.$clr-start-btn;
        transition: 0.3s background ease-in-out;
        &:hover {
            background-color: darken(colors.$clr-start-btn, 15%);
        }
    }
}

.size {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #666;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: darken(colors.$clr-choose-btn, 20%);
    transition: 0.3s transform ease-in-out;

    & img {
        display: inline-block;
        width: 2rem;
        margin-left: 1rem;
    }
}

#size--small:checked ~ .size--small,
#size--medium:checked ~ .size--medium,
#size--large:checked ~ .size--large {
    background-color: colors.$clr-choose-btn;
    transform: scale(1.1);
}

input[type="radio"] {
    display: none;
}

// Finishing modal styling
.modal-finish {
    @include mixins.modal();

    display: none;

    &__inner {
        padding: 2rem;
        position: relative;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        width: 100%;
        height: 100%;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__close-btn {
        @include mixins.close-btn;
    }
    &__img {
        display: inline-block;
        width: 10rem;
        height: 10rem;
    }
    &__title {
        font-size: 5rem;
        color: #444;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__btn {
        display: inline-block;

        padding: 1.5rem 2rem;
        font-family: fonts.$ff-primary;
        font-size: 1.5rem;
        font-weight: 500;
        border: none;

        transition: 0.3s background ease-in-out;
    }
    &__btn + &__btn {
        margin-left: 1rem;
    }

    &__again-btn {
        background: colors.$clr-again-btn;

        &:hover {
            background: darken(colors.$clr-again-btn, 10%);
        }
    }
    &__choose-btn {
        background: colors.$clr-choose-btn;
        &:hover {
            background: darken(colors.$clr-choose-btn, 20%);
        }
    }
}

// Finishing modal styling
